html,body {
  margin: 0;
}

#sort-spoke {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  flex-direction: column;

  #actions-container, #workflow-container {
    display: flex;
    width: 45%;
    height: 100%;
  }

  #actions-list{
    background-color: olive;
    width: 100%;
  }

  #workflow {
    background-color: cornflowerblue;
    width: 100%;
  }

  #controller-container {
    display: flex;
    width: 100%;
    height: 5em;
    background-color: grey;
  }

  nav {
    width: 100%;
    display: flex;
    height: 5em;
    background-color: magenta;
  }

  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .workflow-action {
    border: 1px solid yellow;
  }

}
